*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    front-family: Arial, Helvetica, Sans-serf;
    background-color: rgb(171, 116, 222);
    color: antiquewhite;
    width: 100vw;
    height: 100vw;
}

.container{
    width: 100%;
    height: 100%;
   background-color: rgb(53, 5, 78);
    display: flex; 
    flex-direction:  column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
}

.item{
    width: 100px;
    height: 75px;
    background-color: #2b0534;
    color: #fff;
    padding: 20px;
    margin: 10px;
    
}
