*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: bisque;
  color: blueviolet;
  width: 100vw;
  height: 100vh;
}


.container{
    width: 100%;
    height: 100%;
    background-color: aliceblue;
    
    display: flex;
    /* flex-direction: row; Alinhamento horizontal */
    /* flex-direction: column; Alinhamento vertical */
    /* flex-direction: row-reverse; */
<<<<<<< HEAD
    flex-direction: row; /* Inverter*/
    flex-wrap: wrap; 
=======
    /*flex-direction: column; /* Inverte a ordem dos itens */
    flex-wrap: wrap; /* Permite que os itens quebrem para a próxima linha quando necessário */
>>>>>>> main
    justify-content: center; /* Alinhamento horizontal */
    align-content: center; /* Alinhamento vertical */

}


.item{
    width: 100px;
    height: 75px;
    background-color: #3700ff;
    color: #fff;
    padding: 20px;
    margin: 10px;
<<<<<<< HEAD
   
=======
    
>>>>>>> main
}
