* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    width: 100vw;
    height: 100vh;
<<<<<<< HEAD
    background-color: #1a1b1c;
=======
<<<<<<< HEAD
    background-color: #0d0d0e;
=======
    background-color: #1a1b1c;
>>>>>>> feat/pf0670-exemplos
>>>>>>> main
    color: #e0e0e0;
}

.container{
    border: 1px solid #fff;
    width: 100%;
    height: 100%;
<<<<<<< HEAD
=======
<<<<<<< HEAD
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 200px);
=======
>>>>>>> main

    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4,200px);
<<<<<<< HEAD
=======
>>>>>>> feat/pf0670-exemplos
>>>>>>> main
    justify-content: start;
    align-content: start;

}

.item{
    background-color: #556b2f;
<<<<<<< HEAD
=======
<<<<<<< HEAD
    color:#fff;
    padding: 4.5;
    border: 1px solid #fff;
    text-align: center;
    width: 90px;
    height: 50px;

=======
>>>>>>> main
    color: #fff;
    padding: 4.5%;
    border: 1px solid #fff;
    text-align: center;
    width: 150px;
    height: 50px;
<<<<<<< HEAD
=======
>>>>>>> feat/pf0670-exemplos
>>>>>>> main
}

.container :nth-child(1){
    align-self: center;
    justify-self: center;
<<<<<<< HEAD
    background-color: aqua;
=======
<<<<<<< HEAD
    background-color: #7c0909
=======
    background-color: aqua;
>>>>>>> feat/pf0670-exemplos
>>>>>>> main
}

.container :nth-child(5){
    align-self: center;
    justify-self: center;
<<<<<<< HEAD
    background-color: aqua;
=======
<<<<<<< HEAD
    background-color: #7c0909
=======
    background-color: aqua;
>>>>>>> feat/pf0670-exemplos
>>>>>>> main
}

.container :nth-child(9){
    align-self: center;
    justify-self: center;
<<<<<<< HEAD
=======
<<<<<<< HEAD
    background-color: #7c0909
}

.container :nth-child(2):hover{
    background-color: #7c0909
}
=======
>>>>>>> main
    background-color: aqua;
}

.container :nth-child(2):hover {
    background-color: red;  
}
<<<<<<< HEAD
=======
>>>>>>> feat/pf0670-exemplos
>>>>>>> main
